<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Don Bora</string>
	<string>Ben Bueltmann</string>
	<string>Fox Mulder</string>
	<string>Dana Scully</string>
	<string>Max Howell</string>
	<string>Joni Mitchell</string>
	<string>Fiaz Sami</string>
	<string>Stevie Wonder</string>
	<string>Clint Chilcott</string>
	<string>Irwin M. Fletcher</string>
	<string>Humphrey Bogart</string>
	<string>James Brown</string>
	<string>Dennis Rodman</string>
	<string>Bruce Wayne</string>
	<string>Jack Nicholson</string>
	<string>Dick Grayson</string>
	<string>Brian Wilson</string>
	<string>Jessi Chartier</string>
	<string>Stacy Sniegowski</string>
	<string>Bill Murray</string>
	<string>Duncan Keith</string>
	<string>The Rhymenocerous</string>
	<string>Terry Kiwala</string>
	<string>Samuel L. Jackson</string>
	<string>Elton John</string>
	<string>The Hiphopopotomus</string>
	<string>Brent Seabrook</string>
	<string>Dr. John</string>
	<string>Kurt Vonnegut</string>
	<string>David Bowie</string>
	<string>Harry S. Truman</string>
	<string>Bernard Purdie</string>
	<string>Patrick Kane</string>
	<string>Ignatius J. Reilly</string>
	<string>Jonathan Toews</string>
	<string>Bill Callahan</string>
	<string>Michael Jordan</string>
	<string>Francis Ford Coppola</string>
	<string>Steve Martin</string>
	<string>Adrian Belew</string>
	<string>Joe Maddon</string>
	<string>Special Agent Dale Cooper</string>
	<string>John Lennon</string>
	<string>George Lucas</string>
	<string>Alfred Pennyworth</string>
	<string>Steve Jobs</string>
	<string>Marian Hossa</string>
	<string>Phil Jackson</string>
	<string>Glenn Kotche</string>
	<string>Larry David</string>
	<string>Patrick Sharp</string>
	<string>Indiana Jones</string>
	<string>Donald Fagen</string>
	<string>Walter Becker</string>
	<string>Frank Thomas</string>
	<string>Jean-Luc Picard</string>
	<string>Audrey Horne</string>
	<string>Mac Demarco</string>
	<string>Jeff Tweedy</string>
	<string>Mike Ditka</string>
	<string>Launchpad McQuack</string>
	<string>George Halas</string>
	<string>Levon Helm</string>
	<string>Jerry Seinfeld</string>
	<string>Scottie Pippen</string>
	<string>Garth Hudson</string>
	<string>Laura Palmer</string>
	<string>Shintaro Sakamoto</string>
	<string>Gandalf</string>
	<string>Tim Maia</string>
	<string>Drake Mallard</string>
	<string>Joe Jackson</string>
	<string>Augustus McCrae</string>
	<string>Woodrow F. Call</string>
	<string>Bilbo Baggins</string>
	<string>Werner Herzog</string>
	<string>Ron Padgett</string>
	<string>George Clinton</string>
	<string>Dennis Hopper</string>
	<string>Jim Harrison</string>
	<string>George Saunders</string>
	<string>Phil Jackson</string>
	<string>Wes Anderson</string>
	<string>Frank Zappa</string>
	<string>Phil Spector</string>
	<string>Bob Balaban</string>
	<string>Stephen Colbert</string>
	<string>John Cusack</string>
	<string>Allen Toussaint</string>
	<string>Joel Quenneville</string>
	<string>Tina Fey</string>
	<string>Jaco Pastorius</string>
	<string>Harrison Ford</string>
	<string>Bob Dylan</string>
	<string>Groucho Marx</string>
	<string>Elvis Costello</string>
	<string>Leonard Nimoy</string>
	<string>Harold Ramis</string>
	<string>Paul McCartney</string>
	<string>Orson Welles</string>
	<string>John Malkovich</string>
</array>
</plist>
